<div detailsPanel>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Details</h2>
		</div>
	</md-toolbar>
	<md-dialog-content layout-padding>
		<div layout-gt-sm="row" layout-align="center">
			<md-input-container class="md-block" flex="85">
				<label>Name</label>
				<input ng-model="filter.name">
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block">
				<md-datepicker ng-model="filter.startDate" md-placeholder="Start Date" md-open-on-focus></md-datepicker>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block">
				<md-datepicker ng-model="filter.endDate" md-placeholder="End Date" md-open-on-focus></md-datepicker>
			</md-input-container>
		</div>
	</md-dialog-content>

	<md-dialog-actions layout="row" layout-align="center">
		<md-button ng-click="reset()">Reset</md-button>
		<md-button ng-click="search()" md-autofocus>Search</md-button>
	</md-dialog-actions>
	<md-dialog-actions layout="row" layout-align="center">
		<md-button ng-click="elasticSearch()" md-autofocus>Elastic Search</md-button>
	</md-dialog-actions>

</div>
