/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*   = require /bootstrap/bootstrap
*   = require grails
*   = require main
*   = require mobile
*   = require_self
*/

table {
    border-collapse: collapse
}

thead {
    font-weight: bold;
}

td {
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
}

.message {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #666;
    padding: 5px 5px 5px 5px;
}

.red-h {
    color: red;
    background-color: #fee;
    font-weight: bold;
}

.green-h {
    color: green;
    background-color: #efe;
    font-weight: bold;
}

[bold] {
    font-weight: bold;
}

[theme] {
    background-color: #3F51B5;
    color: white;
}
